.search__form {
  position: relative;
  width: 100%;
}

.search__input {
  width: 100%;
  padding: 10px 124px 10px 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
  border-radius: 40px;
  border: 1px solid #fb9953;
  outline: none;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #fff;
  border-radius: 40px;
  background: #ff6a00;
}

.search__icon {
  width: 20px;
  height: 20px;
}
