.video-list {
  padding: 80px 0;
}

.video-list__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.02em;
}

.video-list__items {
  --grid-count: 3;
  --grid-column-gap: 12px;
  display: grid;
  grid-template-columns: repeat(var(--grid-count), calc((100% / var(--grid-count)) - (var(--grid-column-gap) * (var(--grid-count) - 1) / var(--grid-count))));
  gap: 40px var(--grid-column-gap);
}

.card {
  position: relative;
}

.card__thumbnail {
  margin-bottom: 16px;
  border-radius: 16px;
}

.card__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
}

.card__channel {
  margin-bottom: 12px;
}

.card__duration {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.card__favorite {
  position: absolute;
  top: 12px;
  right: 12px;
}

.card__favorite .star {
  display: none;
}

.card__favorite_active .star {
  display: block;
}

.card__icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .video-list {
    padding: 60px 0;
  }

  .video-list__items {
    --grid-count: 2;
    row-gap: 32px;
  }

  .video-list__title {
    font-size: 32px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__channel {
    font-size: 16px;
  }

  .card__duration {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .video-list__items {
    --grid-count: 2;
  }
}

@media (max-width: 470px) {
  .video-list {
    padding: 40px 0 60px;
  }

  .video-list__items {
    --grid-count: 1;
    row-gap: 20px;
  }

  .video-list__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .card__title {
    font-size: 18px;
  }
}
